
die Palette ist grün/braun:
https://coolors.co/b29e95-a9b2aa-9cbfa4-95c6c0-bbddc1

die ist rosa/gelb:
https://coolors.co/fadcee-f1e8a7-f3b9c7-de7da9-e2dbb6

grün und lila:
https://coolors.co/c5efcb-954b8a-9fa99e-a9c5a0-c6dec6

blau/braun/gelb:
https://coolors.co/8eb5cc-a4b9e0-edecbf-dac695-a49079

blau und lila:
https://coolors.co/c1e0ec-a4b9e0-c397c2-d0d5f1-e5c8e4

grün und braun:
https://coolors.co/9bab9c-c7e2b6-95695f-b7ccc1-d8f0d1

die Farben sind bisschen dunkel für Pastellfarben, aber man kann sie noch heller machen
https://coolors.co/8fbfe0-bdacc3-a2b9a5-93a88a-aa9588