@if(isUserLoggedIn && currentlyReadingBooks.length > 0) {
<h1>Books you're currently reading</h1>

<div class="books">
  @for(book of currentlyReadingBooks; track book.id) {
  <div class="book">
    <a [routerLink]="['/book', book.id]">
      <img [src]="book.coverImage" alt="Cover of {{ book.title }}" />
    </a>
    <a [routerLink]="['/book', book.id]">
      <h3>{{ book.title }}</h3>
    </a>

    <p>{{ book.authors?.join(", ") }}</p>
  </div>
  }
</div>
}

<div class="randomBooksHeading">
  <h1
    (click)="showDifferentBooks()"
    [class.enabled]="!currentlySearchingForBooks"
  >
    Random {{ this.currentTheme }} books
  </h1>
  <button
    class="fas fa-sync"
    (click)="showDifferentBooks()"
    [disabled]="currentlySearchingForBooks"
  ></button>
</div>
@if (isLoading) {
<div class="spinner-container">
  <img
    src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbG5nNmNxNGp3Y3B5MmU2Zzd1dWJ0dnU4ZDU1OGtwZzI2YmlkbmtuNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT77Y1T0zY1gR5qe5O/giphy.gif"
    alt="Loading..."
    class="spinner-image"
  />
</div>
}

@if (showPopup) {
<div class="overlay">
  <div class="popup">
    <p>Please log in or register to use additional functions!</p>
    <button (click)="closePopup()">Ok</button>
  </div>
</div>
}

<div class="books">
  @for(book of books; track book.id) {
  <div class="book">
    <a [routerLink]="['/book', book.id]">
      <img [src]="book.coverImage" alt="Cover of {{ book.title }}" />
    </a>
    <a [routerLink]="['/book', book.id]">
      <h3>{{ book.title }}</h3>
    </a>

    <p>{{ book.authors?.join(", ") }}</p>
  </div>
  }
</div>