<h1>Search Results</h1>
<div class="output-grid" *ngIf="searchResults$ | async as books">
  <div *ngIf="books.length === 0">
    <p>No books found...</p>
  </div>

  <section class="books">
    <div *ngFor="let book of books" class="book">
      <a [routerLink]="['/book', book.id]">
        <img [src]="book.coverImage" alt="Cover of {{ book.title }}" />
      </a>
      <a [routerLink]="['/book', book.id]">
        <h3>{{ book.title }}</h3>
      </a>

      <p>{{ book.authors?.join(", ") }}</p>
    </div>
  </section>
</div>
