<h1>Search Results</h1>

@if (searchResults$ | async; as books) {
  <div class="output-grid">
    <section class="books">
      @for (book of books; track book.id) {
        <div class="book">
          <a [routerLink]="['/book', book.id]">
            <img [src]="book.coverImage" alt="Cover of {{ book.title }}" />
          </a>
          <a [routerLink]="['/book', book.id]">
            <h3>{{ book.title }}</h3>
          </a>
          <p>{{ book.authors?.join(", ") }}</p>
        </div>
      } @empty {
        <p>No books found...</p>
      }
    </section>
  </div>
}