:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 1em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: lightsteelblue;
  text-decoration: none;
  list-style-type: none;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: lightsteelblue;
  height: 100%;
  padding: 0px 10px;
  transition: text-shadow 0.3s;
  font-weight: bold;
}

.navbar a:hover {
  text-shadow: 0 0 10px rgb(129, 129, 129);
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#searchbar {
  border: 1px;
  padding: 8px 10px;
  border-radius: 10px;
  margin-right: 5px;
  min-width: 250px;
  position: relative;
}

#registerlogin {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: stretch;
}

/* Profile Picture Style */
.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  width: 100%;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.navbar li a[routerlink="/register"],
.navbar li a[routerlink="/login"] {
  margin-left: 10px;
}

#home-button {
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 50px;
}

#home-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
  position: absolute;
  left: 8px;
  text-indent: 0;
  font-size: 29px;
  color: black;
}

.navbar-divider {
  display: flex;
  flex-grow: 1;
}

.navbar-divider.left {
  justify-content: start;
}

.navbar-divider.middle {
  justify-content: center;
}

.navbar-divider.right {
  justify-content: end;
}

#search-combo {
  position: relative;
}

#search-button {
  border: none;
  background: none;
  padding: 0px 12px;
  cursor: pointer;
  color: black;

  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  right: 3px;
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  position: absolute;
  text-indent: 0;
  font-size: 18px;
}

#my-library-button {
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 36px;
}

#my-library-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02d";
  position: absolute;
  left: 8px;
  text-indent: 0;
  font-size: 29px;
  color: black;
}
