h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

#topic-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#book-entries {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  background-color: rgba(211, 211, 211, 0.44);
  padding: 20px;
  border-radius: 8px;
}

#book-entries > div {
  width: 75%;
  background-color: rgba(111, 66, 129, 0.32);
  color: deeppink;
}

.blog-item {
  background-color: deeppink;
}


