:host {
    max-width: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
}

.book-shelf {
    
}

.folder-buttons {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
}

.folder-buttons button {
    background-color: var(--background-color3);
    padding: 0.5em 1em;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: var(--font-funkyy);
    font-weight: bold;
}

.selected {
    border-bottom: none;
}

.currently-selected {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-wrap: wrap;
    padding: 1em 0;
    border: 1px solid black;
    border-radius: 4px;
    background: var(--background-color3);
    box-shadow: 0 2px 5px var(--background-color1);
}

.currently-selected .selectedBooks {
    width: 150px;
    display: grid;
    grid-template-rows: 70% auto auto;
    text-align: center;
}

.currently-selected .selectedBooks h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.currently-selected .selectedBooks p {
    margin: 0;
    padding: 0;
}

.currently-selected .selectedBooks img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}