<h1 id="registerHeader">Registrierung</h1>
<p id="text">Erstelle einen Account, um weitere Features zu nutzen!</p>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <label for="username">Username</label>
  <input required autocomplete="on" type="text" id="username" name="username" size="45" pattern="^[a-zA-Z0-9\s]{4,30}$"
    title="4 bis 30 Zeichen, keine Sonderzeichen, Zahlen 0 bis 9" formControlName="username" />

  <label for="email">Email</label>
  <input id="email" type="email" autocomplete="on" required formControlName="email" />

  <label for="password">Password </label>
  <input required autocomplete="on" type="password" id="password" name="password" size="45" maxlength="45" minlength="8"
    formControlName="password" />

  @if (registrationForm.get('password')?.touched) {
  @if (registrationForm.get('password')?.errors?.['passwordStrength']; as errors) {
  @if (!errors.hasUpperCase || !errors.hasLowerCase || !errors.hasNumber || !errors.hasSpecialCharacter) {
  <div style="margin-bottom: 30px">
    <div>
      Please include an uppercase and lowercase letter, a number and a special character
    </div>
  </div>
  }
  }
  }


  <label for="aboutYou"> <abbr title="Information about yourself">About you (optional)</abbr></label>
  <input id="aboutYou" type="text" autocomplete="on" formControlName="aboutYou" />

  <label for="profilePic">Profilbild</label>
  <input id="profilePic" type="file" (change)="onFileSelected($event)">

  <span class="validity"></span>
  <button id="registerButton" type="submit">Send!</button>

</form>