form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 1500px;
  width: min(90%, 600px);
  min-height: 50vh;
  box-shadow: 0 4px 8px lightsteelblue;
  border-radius: 50px;
  background-color: var(--background-color1);
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1.5em;
  background-color: white;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

label {
  font-weight:bold;
  margin-bottom: 3px;
}

input {
  width: 45%;
  padding: 5px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size:16px;
}

form p {
  margin-top: 0;
  margin-bottom: 20px;
}

#registerButton {
  padding: 0.5em 2em;
  border: 1px solid lightgray;
  border-radius: 1em;
  transition: background-color 0.3s;
  font-size: 1.1rem;
  background-color: var(--background-color2);
}

#registerButton:hover {
  /*background-color: rgba(172, 196, 230, 0.57);*/
  background-color: rgba(172, 196, 230, 0.71);
}

#registerHeader {
  text-align: center;
}

#text {
  text-align: center;
}

